home/yulia/Desktop/Программные_системы/Sortirovka/test.txt
home/yulia/Desktop/Программные_системы/Sortirovka/sort
home/yulia/Desktop/Программные_системы/Sortirovka/.vscode
home/yulia/Desktop/Программные_системы/Sortirovka/sort.desktop
